<h1>Log in</h1>

<div>
  <div>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <% end %>

      <%= f.submit "Sign in" %>

    <% end %>
  </div>
</div>