<h1><%= @user.name %></h1>
<% provide(:button_text, 'Create an Event') %>
<div>
  <%= link_to 'Create a new event', new_event_path %>
</div>
<div>
  <p>My Events</p>
  <% if @user.events.any? %>
    <h3>Events (<%= @user.events.count %>)</h3>
    <ol class="events">
      <%= render @events %>
    </ol>
  <% end %>
</div>

