<h1><%= @user.name %></h1>
<% provide(:button_text, 'Create an Event') %>
<div>
  <%= link_to 'Create a new event', new_event_path %>
</div>
<div>
  <h3>Upcoming Events</h3>
  <% if @upcoming_events.any? %>
    <ol class="events">
      <%= render @upcoming_events %>
    </ol>
  <% end %>
</div>

