<h1>Event from <%= @user.name%></h1>
<div>
  <p>My Attendees</p>
  <% if @event.attendees.any? %>
    <h3>Attendees (<%= @event.attendees.count %>)</h3>
    <ol class="attendees">
      <%= render @attendees %>
    </ol>
  <% end %>
</div>