@import 'bootstrap-sprockets';
@import 'bootstrap';

// Variables
$sign-in: rgb(25, 94, 234);

header span {
  color: $sign-in;
  font-size: 2rem;
  font-weight: bold;
  padding-left: 2rem;
  padding-top: 2rem;
}

// Login
h1 {
  font-family: Arial, Helvetica, sans-serif;
}
.form {
  border: 3px solid;
  left: 50%;
  padding: 2rem;
  position: absolute;
  text-align: center;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 50%;
  .form-label {
    font-size: 1.5rem;
    margin-right: 2rem;
    margin-top: 3rem;
  }
  .form-text {
    border-radius: 10px;
    margin-right: 2rem;
    margin-top: 1.5rem;
    width: 40%;
  }
  .form-btn {
    background-color: $sign-in;
    border-radius: 7px;
    color: white;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    padding: 0.5rem;
  }
}

// Events
.main {
  border: 2px solid $sign-in;
  margin: 0 auto;
  margin-top: 5rem;
  padding-bottom: 5rem;
  width: 80%;
  .create {
    text-align: center;
  }
}
.ev-list {
  padding-top: 2rem;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  h3 {
    border: 1px solid $sign-in;
    margin: 0 auto;
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 50%;
  }
  ol {
    list-style-type: none;
  }
}
.events {
  padding: 1rem;
  li {
    border-bottom: 1px solid rgb(25, 212, 234);
    font-size: 2rem;
    margin: 0 auto;
    margin-top: 1rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
    width: 40%;
  }
}