<header class="navbar navbar-fixed-top navbar-inverse">
          <% if logged_in? %>
            <p><%= current_user.name %></p>
            <span><%= link_to "Log out", logout_path, method: :delete %></span>
          <% else %>
            <span><%= link_to "Log in", login_path %></span>
            <span><%= link_to "Sign up", signup_path %></span>
          <% end %>
</header>